:root {
    /* Fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /* Text colours */
     --main-txt-color:#212121;
     --light-txt-color: #FFFF;
     --akc-txt-color: #2196F3 ;
     --second-text-color:#757575 ;

    /* Background colours */
    --main-bg-color:#FFFFFF;

     /* Others */
}

/* Reset */
.listone {
    text-decoration: none;
    list-style: none;
}
.link {
    text-decoration: none;
    color: currentColor;
}
.list {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}
.option {

    text-decoration: none;
}

.page {
    font-family:var(--main-font);
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
}

/**   HEADER   **/

.logoweb {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--akc-txt-color);
}

.logostudio {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-txt-color)
}

.list {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-txt-color);
}

.header-link-nav {
    color: var(--akc-txt-color);
}
.header-link-item {
line-height: 1.4;
letter-spacing: 0.02em;
color: var(--second-text-color);
}
.header-link-item:hover {
    color:var(--akc-txt-color);
}
.list:hover {
    color:var(--akc-txt-color);
}
.list:focus {    
    color:var(--akc-txt-color);
}
.link:hover {
    color:var(--akc-txt-color);
}
.link:focus {
    color:var(--akc-txt-color);
}

.title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--light-txt-color);
background-color: #2F303A;
}

.section-title {
font-size: 36px;
line-height: 1.16;
text-align: center;
}

.text {
line-height: 1.71;
color: var(--second-text-color) ;
}
.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--main-bg-color);
    background-color: var(--akc-txt-color);
    }
.hero-button:hover {
        background-color:var(--second-text-color);
    }
    .hero-button:focus {
        background-color:var(--second-text-color);
    }

.product-name {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-txt-color);
}

.product-txt {
    font-size: 16px;
    line-height: 1.87;
    color: var(--second-text-color);

}

.menu-button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--main-txt-color);
    font-weight: 500;
    letter-spacing: 0.03em;
     color: #212121;
}
.menu-button:hover,
.menu-button:focus {
    background-color: var(--akc-txt-color);
    color: var(--light-txt-color);
}
.menu-button-light { font-family: inherit;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--main-txt-color);
    font-weight: 500;
    letter-spacing: 0.03em;
    background-color: var(--akc-txt-color);
    color: var(--light-txt-color);
}
.subtitle {
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;  
}

.team-position {
    font-size: 16px;
    line-height: 1.18;
    color:var(--second-text-color); 
}

.footer {
    background-color: #2F303A;
}

.footer-link-location {
   line-height: 1.71;
   color: var(--light-txt-color);
}
.foter-link-item {
    text-decoration: none;
   line-height: 1.71;
   color: var(--second-text-color);
}
.logostudiof {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--light-txt-color);
}
.foter-link-item:hover {
    color: var(--akc-txt-color);
}
.foter-link-item:focus {
    color: var(--akc-txt-color);}
